.imgContainer {
  margin: auto;
  text-align: center;
}

.nombreApp {
  text-align: center;
  margin: auto;
  padding: 20px 0;
  font-weight: 600;
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
}

.btnLogin {
  margin-top: 15px;
  --padding-start: 5rem;
  --padding-end: 5rem;
}
